.chatroom{
    background-color: #ffcf5457; 
    height: 100%;
}
.user-chat-list{
    padding: 20px 30px !important;
}
.user-chat-list-card{
    overflow-y: auto;
    width: 100%;
    height: 95%;
}
.user-chat-list > .user-chat-list-card > a{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:black;
    margin-top: 10px;
}
.user-chat-list-card-container{
    display: flex;
    padding: 10px 0;
}
.user-chat-search-bar{
    width: 100%;
    height: 40px;
}
.user-chat-search{
    width: 100%;
}
.user-chat-active-head{
    padding: 12px 8px;
}
.chatroom.chatroom-message-containter{
    padding-left:0 !important;
}
.welcome-page-chatroom{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active-user-chatroom{
    width: 100%;
    height: 100%;
}
.chat-message{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chatroom-message-containter{
    border-left: 1px dotted orange;
    border-right: 1px dotted orange;
}
.chatroom-msg-icon{
    font-size: 150px !important;
    color: #ffb700;
}
.user-list-title{
    cursor: pointer;
}
.active-user-chatroom .user-details{
    width: 100%;
    height: 10%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.active-room{
    width: 100%;
    height: 80%;
    overflow: hidden;
    overflow-y: auto;
}
.message-text-area{
    width: 100%;
    height: 10%;
    background-color: orange;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.user-active-name{
    margin-left: 10px !important;
}
.chatmessage-box{
    width:80%;
    min-height:10px;
    height: auto;
    padding: 20px;
    margin:20px 0;
}
.active-user-1{
    background-color: #ffffff70;
    text-align: left;
    margin-left:20px;
    float: left;
    position: relative;
    border-radius: 0 8px 8px 8px;
}
.active-user-2{
    float: right;
    text-align: right;
    margin-right:20px;
    background-color: #ffb7005e;
    position: relative;
    border-radius: 8px 0 8px 8px;
}   
#pointer-sender{
    border-bottom:solid 10px #ffb7005e;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    position:absolute;
    width: 3px;
    height: 0;
    top: 2px;
    right: -11px;
    transform:rotate(90deg);
}
#pointer-receiver{
    border-bottom:solid 10px #ffffff70;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    position:absolute;
    width: 3px;
    height: 0;
    top: 2px;
    left: -11px;
    transform:rotate(270deg);
}
.send-message{
    width: 40px;
    height: 40px;
    min-width:40px !important;
    border-radius:50% !important;
}
.chat-loader-active{
display: flex;
align-items: center;
justify-content: center;
}