.chatroom{
    height:87.6vH;
    background-color: #ffcf5457;
}
.user-chat-list{
    padding: 20px 30px !important;
}
.user-chat-list-card{
    overflow-y: auto;
    width: 100%;
    height: 95%;
}
.user-chat-list > .user-chat-list-card > div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.user-chat-list-card-container{
    display: flex;
    padding: 10px 0;
}
.user-chat-search-bar{
    width: 100%;
    height: 40px;
}
.user-chat-search{
    width: 100%;
}
.user-chat-active-head{
padding: 12px 8px;
}